*{
	margin: 0;
	padding: 0;
}
.main{
	display: flex;
	flex-direction: column;
}
.header{
	background-color: #c2c2c2;
	width: 100%;
	height: 150px;
}
.lol{
	display: flex;
	flex-direction: row;
}
.left{
	justify-content: flex-start;
	background-color: #9cf;
	height: 700px;
	width: 15%;
}
.content{
	background-color: #fc6;
	 justify-content: flex-end;
	 width: 85%;
	 height: 700px;
}
.footer{
	justify-content: flex-end;
	background-color: #99f;
	width: 100%;
	height: 150px;

}















.nav{
	background-color: #f93;
	text-align: center;
	height: 100%;
	box-shadow: 0 1px 1px 1px #ccc;


}
ul.menu{
	line-height: 70px;
}
ul.menu li{
display: inline-block;	
width: 150px;	
position: relative;					

																					
}
ul li a{
	color: #c36;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	display: block;



}
.submenu{
	display: none;
	position: absolute;
	top: 70px;
	left: 0;
	width: 150px;
	box-shadow: 1px 1px 1px 1px #ccc;
	background-color: #fc0;
}
ul li:hover{
	background-color: #ff8733;

}

ul.menu li:hover ul.submenu{
	display: block;
}

@media screen and (max-width: 790px){
	div.nav{
		display: none;

	}
}
.m{
	width: 100px;
	height: 100px;
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	
}
.q{
   
	width: 100px;
	height: 6px;
	background-color: green;

}
.w{
	width: 100px;
	height: 6px;
	background-color: green;
}
.e{
	width: 100px;
	height: 6px;
	background-color: green;
}
@media screen and (max-width: 790px){
	div.m{
		display: block;

	}
}